smsgate/test.txt
va/errorLog.txt
logs
*.pyc
docs/html
docs/latex
js/dist/combined.js
node_modules

# VirtualEnv folder
.env
**/.env

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Ignoring submodule update
websklad
lib/dygraph
lib/gridster
lib/jquery-spellchecker
